<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask a question</title>
</head>
<body>
<form action="" method="post">
    <h1>Ask a question</h1><br>
    <input type="text" name="questiontitle" max="50" required placeholder="Question title"><br>
    <textarea rows="10" cols="50" name="question_body" required placeholder="Write your question here."></textarea><br>
    <div class="formlabel">What type of question is it?</div>
    <div class="formfield"> </div>
        <input type="radio" name="urgent" value="emergency" /> Emergency <br>
        <input type="radio" name="urgent" value="normal" /> Out of curiosity <br>
        <input type="radio" name="urgent" value="curiosity" /> For trolling <br>
    <div style="float: left"><br>
    <input type="submit" value="Submit"/>
    <input type="reset" value="Reset"/>
        </div>
</form>
        <a href="/">
        <img src="http://www.pvhc.net/img205/bkxosrojgkapqkougaih.jpg" style="width:60px;height:60px;"></a>
</body>
</html>