<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <style>
        }

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}
table, th, td {
    border: 1px solid black;
}
    </style>
</head>
<body>
    <h1>
        Home page
    </h1>
    <table>
        <thead>
            <img src="http://www.freeiconspng.com/uploads/question-mark-questionmark-help-talk-support-icon-27.png"
            width="70" height="60" align="left">
                <th><h2>Questions</h2></th>
        </thead>
        <tbody>
        <tr>
            <th>ID</th>
            <th>Question title</th>
            <th>Submission time</th>
        </tr>
            {% for data in table  %}
                <tr>
                    <td>{{ data[0] }}</a></td>
                    <td><a href="/question/{{ data[0] }}">{{ data[4] }}</a></td>
                    <td>{{ data[1] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/add-question"><button class="button2">Add your question</button></a>
</body>
</html>